# recommended to overwrite name when using sealed-secrets
fullnameOverride: vpn

image:
  repository: hwdsl2/ipsec-vpn-server
  tag: latest
  pullPolicy: Always

sealed_secrets: false

vpn:
  dns_name: vpn.example.com
  psk: your_presharedkey

users:
- username: vpn
  password: password

service:
  enabled: true

  ports:
    isakmp:
      name: vpn-isakmp
      port: 500
    ike:
      name: vpn-ike
      port: 4500

ingress:
  traefik:
    enabled: false
