name: Release
on:
  release:
    types: [published]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'taskmedia/helm_ipsec-vpn-server'
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: azure/setup-helm@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: bump release version (Chart.yaml)
      env:
        TAG_NAME: ${{ github.event.release.tag_name }}
      run: yq -i ".version = \"$(echo ${TAG_NAME:1})\"" charts/ipsec-vpn-server/Chart.yaml

    - name: commit version bump
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        branch: main
        commit_message: "chore(release): update version to ${{ github.event.release.tag_name }}"
        commit_options: "--no-verify"
        file_pattern: charts/ipsec-vpn-server/Chart.yaml

    - name: move release tag
      shell: bash
      run: |
        git tag --force ${{ github.event.release.tag_name }} HEAD
        git push --force origin ${{ github.event.release.tag_name }}

    - name: update latest tag
      shell: bash
      run: |
        git tag --force latest HEAD
        git push --force origin latest

    - name: Create release binary
      run: |
        helm package charts/ipsec-vpn-server --destination release/

    - name: login ghcr registry
      run: echo '${{ secrets.GITHUB_TOKEN }}' | docker login ghcr.io -u taskmedia --password-stdin

    - name: push Helm chart to ghcr
      run: helm push ./release/*tgz oci://ghcr.io/taskmedia

    - name: Update Index
      env:
        GH_PAGES_URL: github.com/taskmedia/helm
        REPO_NAME: ipsec-vpn-server
        HELM_URL: https://helm.task.media/
      run: |
        rm -rf ./gh-pages.zip
        rm -rf ./repo
        curl -sSLO https://${GH_PAGES_URL}/archive/gh-pages.zip
        unzip -o ./gh-pages.zip -d ./repo/
        mv -f ./repo/helm-gh-pages/* ./repo
        rm -rf ./repo/helm-gh-pages/
        cp ./release/*tgz ./repo/${REPO_NAME}/
        cp ./README.md ./repo/${REPO_NAME}/index.md
        helm repo index --merge ./repo/index.yaml --url ${HELM_URL} ./repo

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.2.5
      with:
        repository-name: taskmedia/helm
        branch: gh-pages
        ssh-key: ${{ secrets.DEPLOY_KEY_BLOG }}
        folder: repo
        clean: false
